@import url('https://fonts.googleapis.com/css2?family=Dosis&display=block');

:root {
  --gap: 5px;
  --opacity: 1;
  --weight: 1px;
  --cycle: 5000ms;
  --easing: ease-in-out;
  --image: none;
  --blending: luminosity;
  --speed: 250ms;
  --slowSpeed: 500ms;
  --mainWidth: 18.5em;
  --mainFont: 'Dosis', sans-serif;
  --outerCorners: 4px;
  --innerCorners: 2px;
  --primaryHue: 125;
  --altHue: 205;
  --primarySaturation: 53%;
  --semiTsaturation: 100%;
  --navOpacity: .6;
  --lightestColor: hsl(var(--primaryHue), var(--primarySaturation), 75%);
  --lighterColor: hsl(var(--primaryHue), var(--primarySaturation), 60%);
  --lightColor: hsl(var(--primaryHue), var(--primarySaturation), 50%);
  --mediumLightColor: hsl(var(--primaryHue), var(--primarySaturation), 40%);
  --mediumColor: hsl(var(--primaryHue), var(--primarySaturation), 30%);
  --mediumSemiTColor: hsla(var(--primaryHue), var(--semiTsaturation), 30%, var(--navOpacity));
  --mediumDarkColor: hsl(var(--primaryHue), var(--primarySaturation), 20%);
  --mediumDarkSemiTColor: hsla(var(--primaryHue), var(--semiTsaturation), 20%, var(--navOpacity));
  --darkColor: hsl(var(--primaryHue), var(--primarySaturation), 10%);
  --darkerColor: hsl(var(--primaryHue), var(--primarySaturation), 8%);
  --darkestColor: hsl(var(--primaryHue), var(--primarySaturation), 7%);
  --darkestSemiTColor: hsla(var(--primaryHue), var(--semiTsaturation), 7%, var(--navOpacity));
  --backgroundColor: hsl(var(--altHue), 34%, 50%);
  --whiteOpaque: rgb(255, 255, 255);
  --blackOpaque: rgb(0, 0, 0);
  --blackTransparent: rgba(0, 0, 0, 0);
  --blackSemiTransparent: rgba(0, 0, 0, 0.5);
  --warningColor: rgb(255, 143, 143);
  --stripes: repeating-linear-gradient(50deg, var(--mediumColor), var(--mediumColor) 1px, var(--blackTransparent) 1px, var(--blackTransparent) var(--gap));
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  transform: translate(0, 0);
  margin: 0;
  background-image: linear-gradient(to bottom right, var(--backgroundColor) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom right, rgb(240, 240, 240) 10%, rgba(255, 255, 255, 0) 80%), url(site/images/home.jpg);
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--backgroundColor);
  background-blend-mode: color-burn, luminosity, luminosity;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--lightestColor);
  font-size: 1em;
  font-family: var(--mainFont);
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  touch-action: pan-x, pan-y;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: linear-gradient(to bottom right, var(--backgroundColor) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom right, rgb(240, 240, 240) 10%, rgba(255, 255, 255, 0) 80%), url(site/images/home-Phone.jpg);
  }
}

main,
footer {
  position: absolute;
  z-index: 999999;
  transition: ease-in-out var(--speed) opacity, ease-in-out var(--speed) transform;
  margin-top: 5em;
  width: var(--mainWidth);
  line-height: 1.5em;
}

main {
  opacity: 1;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: pan-x, pan-y;
}

main.secondary {
  display: none;
}

main:hover,
main.alwaysOn {
  opacity: 1;
}

main.shifted {
  transform: translateX(calc(2em - var(--mainWidth)));
}

main grid {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 300%;
  height: 300%;
}

main p,
main h2 {
  display: inline-block;
  margin-bottom: 0;
  border-radius: 0 var(--outerCorners) var(--outerCorners) 0;
  padding: 0.8em 2.5em 0.9em;
  font-size: 1em;
}

main p.cta {
  background: var(--darkColor);
  padding: 0.8em 2.85em 0.9em;
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

main p.note {
  background: rgba(255, 255, 255, 0.6);
}

main p.note a {
  color: var(--mediumDarkColor);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

main p em {
  padding-left: 1px;
  font-style: normal;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

main h2 {
  color: var(--whiteOpaque);
  white-space: nowrap;
}

main a {
  cursor: pointer;
}

main a:after {
  margin: 0 3px 0 6px;
  content: '❯';
  color: var(--mediumDarkColor);
  white-space: nowrap;
}

.warning {
  color: var(--warningColor);
}

main p,
main h1,
main h2 {
  background: var(--darkestColor);
}

footer {
  position: fixed;
  bottom: 0;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 111000000;
  padding: 0em 0em;
  width: 100%;
  pointer-events: none;
  color: var(--lighterColor);
  line-height: 0em;
  text-align: center;
}

footer p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0em;
  border: 1px solid var(--mediumColor);
  border-width: 1px 1px 0px 1px;
  border-radius: var(--outerCorners) var(--outerCorners) 0 0;
  padding-bottom: 0px;
  height: auto;
  overflow: hidden;
  pointer-events: none;
  color: var(--darkestColor);
  line-height: 0em;
  text-align: center;
  /* box-shadow: 0px 0px 10px var(--lightColor); */
}

footer span {
  display: block;
  float: right;
  padding-right: 1em;
  color: var(--darkestColor);
}

footer a,
footer a:hover {
  border: none;
  pointer-events: all;
  color: var(--darkestColor);
}

.top footer button {
  display: none;
}

footer button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  transform: translate(0, 0);
  transform-style: preserve-3d;
  opacity: 1;
  backface-visibility: hidden;
  transition: 100ms linear all;
  cursor: pointer;
  margin: 0px;
  outline: none;
  border: none;
  border-right: 0.1em solid var(--lightColor);
  border-radius: 0;
  background: var(--darkestColor);
  padding: 1em 0em 1em;
  padding-bottom: calc(1em + env(safe-area-inset-bottom));
  width: 10em;
  touch-action: pan-x, pan-y;
  pointer-events: all;
  color: var(--lightestColor);
  font-size: 0.8em;
  line-height: 100%;
  font-family: var(--mainFont);
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

button.revealed {
  cursor: default;
  background-color: var(--darkerColor);
  color: var(--whiteOpaque);
}

button.revealed name {
  color: var(--whiteOpaque);
}

footer button num,
footer:hover button.revealed num {
  display: block;
  width: 100%;
  overflow: hidden;
  color: var(--lightestColor);
  line-height: 100%;
  text-align: center;
}

footer button name,
footer:hover button name,
footer:hover button.revealed name {
  display: block;
  width: 100%;
  max-width: 0px;
  overflow: hidden;
  color: var(--lightestColor);
  line-height: 100%;
}

footer button.revealed num,
footer button.hidden:hover num,
footer:hover button.revealed:hover num {
  max-width: 0px;
  color: transparent;
  text-shadow: 0px 0px 8px transparent;
}

footer:hover button.revealed num {
  max-width: 100%;
  color: var(--lightestColor);
  text-align: center;
}

footer button.hidden,
footer:hover button.revealed {
  width: 3em;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
}

footer button.revealed name,
footer:hover button.revealed:hover name,
footer button.hidden:hover name {
  max-width: 100px;
  color: var(--whiteOpaque);
}

footer button:last-of-type {
  border-right: none;
}

footer button.hidden:hover,
footer:hover button.revealed:hover {
  width: 10em;
}

footer button.hidden:hover {
  color: var(--lightestColor);
}

footer:hover button.revealed:hover {
  color: var(--whiteOpaque);
}

footer.mobile button {
  justify-content: end;
  border: none;
  text-align: right;
}

footer.mobile button:first-of-type {
  justify-content: start;
  text-align: left;
}

footer.mobile button::after {
  display: block;
  float: right;
  padding-right: 1em;
  padding-left: 0.5em;
  content: '❯';
  color: var(--whiteOpaque);
}

footer.mobile button:first-of-type::after {
  display: inline-block;
  content: '';
}

footer.mobile button:first-of-type::before {
  display: block;
  float: left;
  padding-right: 0.5em;
  padding-left: 1em;
  content: '❮';
  color: var(--whiteOpaque);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  padding: 0 1.3em;
  color: var(--lighterColor);
  font-weight: normal;
  line-height: 1.1em;
  text-indent: -2px;
}

h1 {
  margin-bottom: 0px;
  border-radius: 0 var(--outerCorners) var(--outerCorners) 0;
  padding-top: 0.2em;
  padding-bottom: 0.4em;
}

a {
  display: inline-block;
  color: var(--lighterColor);
  text-decoration: none;
}

a:hover {
  color: var(--whiteOpaque);
}

controls,
nav {
  display: block;
  position: absolute;
  transform: translate(0, 0);
  z-index: 1000000;
  transition: ease-in-out var(--slowSpeed) max-height;
  transition-property: max-height, border-radius;
  cursor: default;
  margin: 1.5em 1em 1em;
  /* box-shadow: 0px 5px 10px var(--blackSemiTransparent); */
  border-radius: var(--outerCorners);
  background: var(--darkestSemiTColor);
  padding: 1.5em 0px 0px;
  width: calc(var(--mainWidth) - 3em);
  max-height: 0em;
  overflow: auto;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  touch-action: pan-x, pan-y;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

controls {
  max-height: 1.5em;
}

nav {
  border-radius: var(--outerCorners);
  background: var(--darkestColor);
  padding: 1.5em 1em;
  width: calc(var(--mainWidth) - 5em);
}

nav.open {
  border-radius: var(--outerCorners) var(--outerCorners) 0 0;
}

nav {
  z-index: 1000001;
  cursor: default;
  box-shadow: none;
  overflow: hidden;
}

nav.top {
  cursor: pointer;
}

controls::-webkit-scrollbar {
  display: none;
}

controls,
nav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

controls,
nav {
  scroll-behavior: smooth;
  touch-action: auto;
}

controls.initial,
controls.open {
  max-height: calc(100% - 9em);
}

controls p,
nav h1 {
  margin: 0px;
  padding: 2.5em 0px 1.5em;
  color: var(--lighterColor);
  font-size: 0.9em;
  line-height: 0%;
  letter-spacing: 2px;
  user-select: none;
  text-shadow: 0px -1px 0px var(--blackSemiTransparent);
  text-transform: uppercase;
  -webkit-user-select: none;
  -ms-user-select: none;
}

controls p {
  letter-spacing: normal;
  text-transform: capitalize;
}

nav h1 title {
  display: inline-block;
  cursor: pointer;
  margin: -2em 0em -1em -1em;
  padding: 1em 1em 1em 1.25em;
  color: var(--whiteOpaque);
  line-height: 0%;
}

nav h1 span {
  display: block;
  float: right;
  cursor: pointer;
  margin: -1em -1em 0 0;
  background-image: url(site/images/down_arrow2.png);
  background-position: right 0.9em top 0.5em;
  background-size: 0.9em 0.9em;
  background-repeat: no-repeat;
  padding: 1em 2.2em 1em 1em;
  color: var(--lighterColor);
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: ease-in-out var(--speed) background-image;
}

nav.open h1 span {
  background-image: url(site/images/close_icon2.png);
  background-size: 0.9em 0.9em;
}

body back {
  display: flex;
  position: fixed;
  top: 2em;
  right: 1em;
  justify-content: center;
  align-items: center;
  transform: translate(0, -10px);
  transform-style: preserve-3d;
  z-index: 10000001;
  backface-visibility: hidden;
  cursor: pointer;
  box-shadow: 0px 5px 10px var(--blackSemiTransparent);
  border-radius: 50%;
  background: var(--darkColor);
  padding: 1em;
  width: 1em;
  height: 1em;
  color: var(--lightestColor);
  line-height: 100%;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

body back::after {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transform: translateY(-3px);
  content: '⌂';
  font-size: 24px;
  line-height: 100%;
}

@media only screen and (max-width: 600px) {
  body back {
    right: auto;
    left: calc(var(--mainWidth) + 1em);
  }
}

.top nav h1 title {
  cursor: inherit;
}

.top nav h1 title::before {
  display: none;
}

.top nav h1 span {
  background: var(--darkColor) url(site/images/hamburger_icon.png) no-repeat right 0.7em top 0.57em;
  background-size: 0.9em 0.9em;
}

nav h1 {
  padding: 0px 0px 1.5em;
  color: var(--whiteOpaque);
}

control {
  display: block;
  margin: 0 0 00;
  border-radius: var(--innerCorners);
  background: var(--mediumDarkSemiTColor);
  padding: 1em 1em;
  /* max-width: 18em; */
  color: var(--whiteOpaque);
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: ease-out var(--speed) all;
  -webkit-tap-highlight-color: transparent;
}

controls p:first-of-type {
  margin-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
}

controls control:first-of-type {
  margin-top: 1.5em;
}

controls p:first-of-type+control:first-of-type {
  margin-top: 0px;
}

control.sub {
  background: none;
  padding: 0em 1em;
}

control:last-child {
  margin-bottom: 0px;
}

control.sub label {
  color: var(--lighterColor);
}

control label,
control button {
  display: block;
  margin: 0em 0 0.5em;
  outline: none;
  border: none;
  background: none;
  padding: 0px;
  color: var(--lightestColor);
  font-size: 0.9em;
  font-family: 'Dosis', sans-serif;
  user-select: none;
  text-shadow: 0px -1px 0px var(--blackOpaque);
  text-transform: uppercase;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: ease-out var(--speed) all;
  cursor: pointer;
  letter-spacing: 2px;
  -webkit-tap-highlight-color: transparent;
}

control button:disabled {
  opacity: 0.25;
  cursor: default;
}

control button {
  margin-bottom: 0;
}

control label span,
control button span {
  display: block;
  float: right;
  color: var(--whiteOpaque);
  font-size: 1.1em;
  line-height: 1em;
  user-select: none;
  text-transform: lowercase;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding-top: 2px;
  letter-spacing: 0px;
  text-shadow: 0px -1px 0px var(--blackOpaque);
}

control control label span,
control control button span {
  padding-top: 0px;
}

control input {
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input[type='range'] {
  appearance: none;
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  cursor: pointer;
  margin-top: -4px;
  box-shadow: 0px 1px 2px var(--blackOpaque);
  border-radius: 50%;
  background: var(--lightestColor);
}

input[type='range']:active::-webkit-slider-thumb,
input[type='range']:focus::-webkit-slider-thumb {
  box-shadow: 0px 1px 2px var(--blackSemiTransparent);
  background: var(--whiteOpaque);
}

input[type='range']::-webkit-slider-runnable-track {
  transition: ease-out var(--speed) all;
  cursor: pointer;
  box-shadow: inset 0px 1px 1px var(--blackOpaque);
  border-radius: var(--innerCorners);
  background: var(--mediumColor);
  width: 100%;
  height: 1em;
}

control.checkbox,
control.button {
  padding: 0px;
}

control.checkbox label {
  cursor: pointer;
  margin: 0px;
  padding: 1em 1em;
}

control control.checkbox label {
  padding: 0em;
}

control.button button {
  padding: 1em 1em;
  width: 100%;
  text-align: left;
}

input[type='checkbox'] {
  display: none;
}

control[type='radio'] {
  max-height: 3em;
  overflow: hidden;
}

control[type='radio'].selected {
  background-color: var(--mediumSemiTColor);
  max-height: 12.8em;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  control[type='radio'].selected {
    max-height: 13.5em;
  }
}

control[type='radio'].selected>label {
  color: var(--whiteOpaque);
  text-shadow: none;
}

control[type='radio'].selected>label {
  background-image: url(site/images/close_icon2.png);
  /* background-color: var(--mediumColor); */
}

control[type='radio']>label {
  background-image: url(site/images/down_arrow2.png);
  background-position: left 2px;
  background-size: 0.9em 0.9em;
  background-repeat: no-repeat;
  /* background-color: var(--mediumDarkColor); */
  background-blend-mode: color-dodge;
  padding-left: 1.5em;
}

control[type='radio'].selected input[type='range']::-webkit-slider-runnable-track {
  background-color: var(--mediumLightColor);
}

control[type='radio'] control {
  opacity: 0;
  margin: 0.5em 0 0;
  padding: 0.25em 0em 0.25em 1em;
  pointer-events: none;
  font-size: 0.9em;
}

control[type='radio'] control label {
  margin: 0.5em 0 0.5em;
  color: var(--lightestColor);
}

control[type='radio'] control label span {
  font-weight: normal;
}

control[type='radio'].selected control {
  opacity: 1;
  background: none;
  pointer-events: all;
}

control[value='off'].selected control {
  opacity: 0.25;
  pointer-events: none;
}