:root {
  --primaryHue: 247;
  --hue: 167;

  --saturation: 50%;
  --luminosity: 50%;
  --primarySaturation: var(--saturation);
  --locationX: 10%;
  --locationY: 10%;
  --gap1: 0.15%;
  --gap2: 10%;
  --image: url(typeset-phone.jpg);
  --image1: repeating-radial-gradient(circle at var(--locationX) var(--locationY), var(--blackOpaque) 0%, transparent var(--gap1), var(--blackOpaque) var(--gap2));
}
body {
  background-color: hsl(var(--hue), var(--saturation), var(--luminosity));
  background-image: var(--image1), var(--image);
  background-blend-mode: normal, luminosity;
  cursor: none;
  background-size: cover;
  background-repeat: no-repeat;
  touch-action: none;
}

controls,
main {
  cursor: default;
}
