#roomTable .bs{border: none; background: transparent;}
#roomTable .rs{border: none; background: transparent;}
#roomTable .la{background: transparent;}
#roomTable .ra{background: transparent;}
#roomTable .da{background: transparent;}
#roomTable .ua{background: transparent;}
#roomTable .utp{background: transparent;}
#roomTable .dtp{background: transparent;}
#roomTable .rtp{background: transparent;}
#roomTable .tp1{background: transparent;}
#roomTable .tp2{background: transparent;}
#roomTable .tp3{background: transparent;}
#roomTable .tp4{background: transparent;}
#roomTable .tp5{background: transparent;}
#roomTable .ext{background: transparent;}
#roomTable .sp{background: transparent;}
#roomTable .bl{background: transparent;}
#roomTable .n{background: transparent;}
#roomTable .traps{background: transparent;}
#roomTable .gt{background: transparent;}
#roomTable .dg{background: transparent;}
#roomTable .sl{background: transparent;}
#roomTable .st{background: transparent;}
#roomTable .i{background: transparent;}
/*
#roomTable .h{background: transparent;}
#roomTable .ds{background: transparent;}
#roomTable .us{background: transparent;}
#roomTable .s{background: transparent;}
#roomTable .dark{background: transparent;}
#roomTable .p{background: transparent;}
#roomTable .c1{background: transparent;}
#roomTable .c2{background: transparent;}
#roomTable .c3{background: transparent;}
*/