:root {
  --primaryHue: 198;
  --hue: 188;
  --primarySaturation: 50%;
  --privacy: 4em;
}

body {
  background-image: url(../site/images/me-blurred.jpg);
  background-position: center center;
  background-size: auto;
  background-repeat: repeat;
  background-color: var(--lightColor);
  background-blend-mode: luminosity;
  touch-action: none;
}

me {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../site/images/me.jpg);
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  touch-action: none;
}

controls p:first-of-type {
  margin-top: 2.5em;
}

@media only screen and (max-width: 600px) {

  body,
  me {
    background-size: cover;
  }
}

blinds {
  display: block;
  position: absolute;
  left: calc(-1 * var(--privacy) / 2);
  z-index: 10000000;
  /* top: 10em; */
  width: calc(100% + var(--privacy));
  height: 100%;
  touch-action: none;
  pointer-events: none;
}

blind {
  display: block;
  position: absolute;
  transform-origin: 50%;
  backface-visibility: visible;
  /* border: 2px solid var(--blackSemiTransparent); */
  background: linear-gradient(90deg, var(--darkestColor), var(--lightColor));
  width: var(--privacy);
  height: 100%;
}